#container {
    display:grid;
    grid-template-columns: 50% 50%;
}
#colonne-droite {
    grid-column-start: 2;
    font-size: 30px;
    background-color:beige;
    height:100%;
}
nav {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    padding: 50px;
}
div {
    justify-self: center;
    background-color:beige;
    border-radius: 13px;
}
img{
    box-shadow: 5px 3px 0px;
    margin-top:20px;
    border-radius:10px;
}
a{
    padding-left: 30px;
    color: black;
    transition-duration: 0.5s;
    font-size: 30px
}
a:hover{
    color:green;
}
a:hover{
    text-shadow: 1px 1px 20px #000000;