#main {
    display: grid;
    grid-template-columns: auto;
}
#paragraphe {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-start: 2;
    grid-row-start: 1; 
    border: 2px solid white;
    border-radius: 20px;
    text-align: center;
    width: 500px;
    background-color: white;
    box-shadow: 10px 10px 10px black;
    
 
}
#image
{
    padding-top: 20px;
    padding-left: 20%;
}
img {
    height: 600px;
    width: 520px;
    border-radius: 20px;
    margin-top: 40px;
}

div {
    display: grid;
    grid-template-columns: 50% 50%;
}
body {
    background-color: coral;
    font-family: lobster;
}
h1 {
    font-size: 60px;
    justify-self: center;
    margin: 10px;
    text-shadow: 1px 1px 0px white;
}
p{
    font-size: 30px;
}
nav {
    font-size: 60px;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    padding-bottom: 10px;
}
a{
    padding: 10px;
    color: black;
    text-decoration: none;
}
a:hover {
    color: blanchedalmond;
    
}
